//- 
//- File này cung cấp modal giao diện chỉnh sửa thông tin đề tài trong hệ thống quản lý đề tài.
//- 
//- **Mục đích**:
//- Modal này cho phép người dùng chỉnh sửa thông tin liên quan đến một đề tài cụ thể, bao gồm:
//- 1. Thay đổi tên đề tài.
//- 2. Cập nhật thông tin liên hệ như email, số điện thoại.
//- 3. Chỉnh sửa các thông tin khác như giới tính, khoa.
//- 
//- **Thành phần chính**:
//- 
//- 1. **Modal (div#editTopic-${topic._id})**:
//-    - Hiển thị cửa sổ chỉnh sửa thông tin đề tài.
//-    - `input#editName-${topic._id}`: Trường nhập liệu cho tên đề tài.
//-    - `input#editEmail-${topic._id}`: Trường nhập liệu cho email của người liên hệ.
//-    - `input#editSdt-${topic._id}`: Trường nhập liệu cho số điện thoại.
//-    - `input#editGioiTinh-${topic._id}`: Trường nhập liệu cho giới tính.
//-    - `input#editKhoa-${topic._id}`: Trường nhập liệu cho thông tin khoa.
//- 
//- 2. **Nút hành động**:
//-    - Nút "Lưu": Gọi hàm `saveEditTopic('${topic._id}')` để lưu các thay đổi vào cơ sở dữ liệu.
//-    - Nút "Hủy": Gọi hàm `closeEditTopic('${topic._id}')` để đóng modal mà không lưu thay đổi.
//- 
//- **Phong cách (CSS)**:
//- Modal được thiết kế với kích thước phù hợp để hiển thị toàn bộ nội dung chỉnh sửa. Các trường thông tin được hiển thị theo thứ tự logic, đảm bảo trải nghiệm người dùng.
//- 
//- **Chức năng chính**:
//- 1. Cung cấp giao diện trực quan để chỉnh sửa thông tin đề tài.
//- 2. Hỗ trợ người dùng nhập dữ liệu bằng cách sử dụng các trường `input` với thuộc tính bắt buộc (`required`).
//- 3. Tích hợp các nút hành động để lưu hoặc hủy bỏ thay đổi thông tin đề tài một cách dễ dàng.
//- 

div(id=`editTopic-${topic._id}`).modal
    div.modal-dialog
        div.modal-content
            span.close(onclick="closeEditTopic()") &times;
            h2 Chỉnh sửa
            form(class=`edit-form-${topic._id}`)
                label Tên đề tài
                input(type="text" name="editName" class="form-control" id=`editName-${topic._id}`  required)
                label Email
                input(name="editEmail" class="form-control"  id=`editEmail-${topic._id}`  required)        
                label Số điện thoại
                input(name="editSdt" class="form-control"  id=`editSdt-${topic._id}`  required)    
                label Giới tính
                input(type="text" name="editGioiTinh" class="form-control"  id=`editGioiTinh-${topic._id}` required)
                label Khoa
                input(name="editKhoa" class="form-control"  id=`editKhoa-${topic._id}` required)   
                .col-lg-12.text-right.justify-content-center.d-flex
                    button.btn.btn-primary(type="button" onclick=`saveEditTopic('${topic._id}')`) Lưu
                    button.btn.btn-secondary(type="button" onclick=`closeEditTopic('${topic._id}')`) Hủy
